@page "{iterations:int?}"
@model LoadModel
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using System.Diagnostics;
@{
    ViewData["Title"] = "CPU Load";
}

@functions {
  public class LoadModel : PageModel
  {
    public double time { get; set; }
    public long loops { get; set; }
    private const double pow_base = 9000000000;
    private const double pow_exponent = 9000000000;
    private const long default_loops = 20;

    public void OnGet(int iterations)
    {
      Stopwatch sw = new System.Diagnostics.Stopwatch();
      sw.Start();
      loops = default_loops;
      if(iterations > 0) loops = iterations;
      double res;
      for(var i = 0; i <= loops * 1000000; i++) {
        res = Math.Pow(pow_base, pow_exponent);
      }
      time = sw.ElapsedMilliseconds / 1000.0;
    }
  }
}
<div class="card mb-3">
  <div class="card-header bg-info text-white"> <i class="fa fa-microchip"></i> CPU Load</div>
  <div class="card-body">
    <h3>I calculated a really big number @Model.loops million times!<br>It took me @Model.time seconds!</h3>
    <hr/>
    <form>
      <label for="iterations">Number of iterations (million): </label>
      <input name='iterations' id='iterations' type="number" value="@Model.loops"/>
      <button type="submit" class="btn btn-primary">Go!</button>
    </form>
  </div>
</div>