
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@if (@Configuration.GetSection("AzureAd").Exists())
{
    <div class="navbar-nav ml-auto">
        &nbsp;
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/user" class="btn btn-success btn-lg" type="button"><i class="fas fa-user-circle"></i> @User.Identity.Name</a>
        }
        else
        {
            <a href="/user" class="btn btn-success btn-lg" type="button"><i class="fas fa-sign-in-alt"></i> Login</a>
        }
    </div>
}
